#tswcssbuttons {
  width: 180px;
  max-width: 100%;
  text-align: center;
  background-color: rgb(142, 212, 245);
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: black;
  background-color: rgb(142, 212, 245);
  border: 1px outset black;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: rgb(142, 212, 245);
}

