body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: black;
  /* background-color: #99ffff; */
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  /* background-color: #8ed4f5; */
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  /* background-color: white; */
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswfooter {
  color: black;
  background-color: #8ed4f5;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #99ffff;
}

#Heading {
  font-family: "Bodoni MT";
}

#P {
  font-family: "Californian FB";
  background-color: #66ffff;
  color: #996633;
}

#tswsideproper {
  /* background-color: #99ffff; */
}

#myCurtain{
  animation-name: myCurtainAnimate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes myCurtainAnimate {
  0%,100%{
    opacity: 100%;
  }
  50%{
    opacity: 10%;
  }

}
