body {
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: red;
}

#scoreboard {
    
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
#reset {
    cursor: pointer;
    border-radius: 20px;
    border-width: 2px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}
